<p>
  <%= :link.label_tag :title %>
  <%= @link.title %>
</p>
<p>
  <%= :link.label_tag :url %>
  <%= @link.url %>
</p>
<p>
  <%= :link.label_tag :description %>
  <%= @link.description %>
</p>

<%= link_to("Edit", links_edit_url(:id => @link)) %> |
<%= link_to("Back", links_index_url) %>
