<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= controller.controller_name %>: <%= controller.action_name %></title>
    <!-- <%= stylesheet 'scaffold.css' %> -->
    <%= stylesheet 'screen.css' %>
    <%= javascript 'reg.js'%>
  </head>
  <body>
    <div id="header">
      <img src="/images/logo.png" />
      <h1>Frankenstein Links — Dracula Edition™</h1>
      <span id="navigation">
        <a href="/">Portada</a> | <a href="/links/new">Añadir enlace</a>
      </span>
    </div>
    <div id="wrapper">
  <% if tell[:notice] -%>
      <div id="tell_notice"><%= tell[:notice] %></div>
  <% end -%>
<%= yield_to :view  %>
    </div>
  </body>
</html>
